.main-container {
  background-color: rgb(15, 4, 30);
}

.container {
  display: flex;
  justify-content: space-between;
}

/* Bubble */
.stationary-image {
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 13px solid #5f123d;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  background-color: rgb(238, 53, 108);
  height: 250px;
  position: relative;
  transition: all 1s ease-in-out;
  width: 250px;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
